<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testapps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72B8FB301DF30E89003E60B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B8FB441DF30E89003E60B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B8FB4F1DF30E89003E60B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1DF0DBC1E363E2B0021E650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1DF0DCC1E36B0FA0021E650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
